<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PLDetector</title>
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
<div class="container">
    <div class="ui form code-form">
        <div class="field">
            <label>Input the code here</label>
            <textarea id="code"></textarea>
        </div>
        <button class="ui button detect-btn" onclick="detect()">Detect</button>
        <p id="detection-result"></p>
    </div>
</div>
</body>
</html>